<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>CRM PROJECT - Add Lead</title>
  </head>
  <body>
    <div style="margin-top: 20px;" class="container">
      <h3>Add Lead</h3>
      <hr>

      <form class="" action="/lead-add-function" method="post">

        <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" name="name" id="inputName" placeholder="Name">
        </div>
        <div class="form-group">
        <label for="inputCompany">Company</label>
        <input type="text" class="form-control" name="company" id="inputCompany" placeholder="Company">
        </div>
        <div class="form-group">
        <label for="inputPhone">Phone</label>
        <input type="text" class="form-control" name="phone" id="inputPhone" placeholder="Phone">
        </div>
        <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" name="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <br>
        <div class="float-right">
          <button type="submit" class="btn btn-primary">Add</button>
          <a href="/" class="btn btn-warning stretched-link">Back</a>
        </div>
        <br><br>

      </form>
    </div>
    <hr>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
